nav{
    font-family: 'Open Sans', sans-serif;
}

.navbar-icons{
    font-size: 12px;
    font-weight: bolder;
}

i{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.navbar-icons a:hover{
    color: rgb(240, 96, 0);
    transition-duration: 0.1s !important;
}

.num-items-in-cart{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(240, 96, 0);
    background-color: white;
    font-weight: 900;
    position: absolute;
    top: 0px;
    left: 15px;
    padding: 2px !important;
    padding-left: 8px;
    padding-right: 8px; 
    border-radius: 100%;
}
