<ng-template *ngIf="loginService.isUserLoggedIn(); then loggedInPage else notLoggedInPage"></ng-template>
    <ng-template #loggedInPage>
        <div class="container-fluid wrapper p-5">
            <div class="h3 m-0 p-0"><span class="text-orange">Bill</span> Upload</div>
             Upload your bill here to get your order's details.<br>
            <input class="csv-upload-input mt-3 btn-orange border p-0 small" type="file" #fileImportInput name="CSV File Upload" (change)="fileChangeListener($event)" accept=".csv">
            <div class="text-danger mt-2">{{errorString}}</div>
            
            <div *ngIf="isCsvUploaded" class="p-2">
                <div class="row">
                <div class="pt-4 ps-2 h6"> Total Bill Amount : <b class="text-orange">{{billTotal | inr}}</b> </div>
                <ng-container *ngFor="let item of csvData">
                    <div class="col-12 p-3 uploaded-item">
                        <div class="row bg-purple position-relative">
                            <div class="col-4 col-sm-3 col-md-2 d-flex justify-content-center p-0 cursor img-col">
                                <img routerLink="/products/{{item[0]}}" class="img-fluid" src="{{item[6]}}" />
                            </div>
                            <div class="col p-3">
                                <div class="h4 mb-1 w-75 book-name cursor" routerLink="/products/{{item[0]}}">{{item[1]}}</div>
                                <div class="small mt-1">
                                    <ng-template ngFor let-item [ngForOf]="createRange(item[4]-0)">
                                        <i class="bi bi-star-fill text-orange"></i>
                                    </ng-template>
                                    <ng-template ngFor let-item [ngForOf]="createRange(5-item[4])">
                                        <i class="bi bi-star-fill"></i>
                                    </ng-template>
                                </div>
                                <div class="mt-1">{{item[2]}}</div>
                                <div class="small text-muted mt-1">Publisher : {{item[7]}}</div>
    
                                <div class="small text-muted mt-1">{{item[5] | truncate}}</div>
                                <div class="mt-2 small">Quantity : {{item[3]}}</div>
                                <div class="h6 mt-3">{{getTotalPrice(1, item[8]) | inr}}</div>
                            </div>
                        </div>
                    </div> 
                </ng-container>
                </div>
            </div>

            <!-- TOAST -->
            <div  *ngIf="justUploaded" class="bg-orange text-center text-white small p-2" style="position: fixed; top: 80.51px; right: 14px">
                Bill uploaded successfully!
            </div>
            
        </div>
    </ng-template>
    <ng-template #notLoggedInPage>
        <div class="wrapper d-flex align-items-center">
            <div class="container-fluid p-4 text-center">
                <img style="max-height: 100px" src="../../../assets/images/book1.png" class="img-fluid; mb-2" />
                <p class="mb-2">
                    It looks like you're not logged in. <br>Goto the <a routerLink="/" class="text-orange">login page</a> in order to get started.
                </p>
            </div>
        </div>
    </ng-template>
